<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid" id="top">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <button class="nav-link active" id="homepageBtn" aria-current="page">Home</button>
                        </li>
                        <li class="nav-item">
                            <button id="dashBtn" class="nav-link">Dashboard</button>
                        </li>
                        <li class="nav-item">
                            {{!-- if logged in logout if not login button --}}
                            <button id="loginBtn" class="nav-link">Login</button>
                        </li>
                        <li class="nav-item">
                            {{!-- if logged in logout if not login button --}}
                            <button id="logoutBtn" class="nav-link">Logout</button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <h2 id="title">The Tech Blog</h2>
    </header>
    <main>
        {{{ body }}}
    </main>
</body>

</html>