<div class="row" id="allPosts">
    <h3 id="history">
        Posts:
    </h3>
    <div class="">
        {{#each posts as |post|}}
        <div class="yourPosts">
            <div class="postTitle">
                {{this.title}}
            </div>
            <div class="postContent">
                {{this.post}}
            </div>
        </div>
        {{/each}}
    </div>
</div>
<script>
    document.querySelector("#dashBtn").addEventListener("click", function (event) {
        event.preventDefault();
        document.location.replace("/dashboard");
    });
</script>