#title {
  position: relative;
  left: 30%;
  color: #7fdbff;
}

main {
  margin: 2% 15%;
}

#newPost {
  position: absolute;
  right: 10px;
  margin: 0% 10%;
  width: 30%;
}

#post-name {
  margin-bottom: 2%;
  width: 100%;
}

#comment-content,
#post-content {
  width: 100%;
}

#history {
  position: relative;
  left: 10%;
}

.yourPosts {
  text-align: center;
  margin: 5%;
  border-radius: 15px;
  background-color: #484848;
}

.postTitle {
  background-color: #f0f0f0;
  font-size: 24px;
  padding: 1%;
  font-family: "Fjalla One", sans-serif;
}

.postContent {
  color: white;
}

#allPosts {
  width: 100%;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.form-input {
  margin: 1%;
  width: 100%;
}

.deletePost {
  position: relative;
  border-radius: 5px;
  padding: 2px;
  top: -6%;
  left: 70%;
}

.postLocate {
  font-size: 8px;
  border-color: black;
  position: relative;
  left: 10%;
  top: -5%;
  background-color: blue;
  color: white;
}

#signUp {
  text-align: right;
}

.name {
  text-align: right;
  padding: 3px;
  background-color: white;
  padding-top: 1%;
}

.comments {
  background-color: #f0f0f0;
}
